Repository goooseman/dostoevsky-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run intl:update-po, npm run lint:prettier:write, npm run lint:eslint:write, npm run lint:stylelint:write

.lintstagedrc:

{
  "*.(js|jsx|ts|tsx)": [
    "npm run intl:update-po",
    "npm run lint:prettier:write",
    "npm run lint:eslint:write"
  ],
  "*.json": [
    "npm run lint:prettier:write"
  ],
  "*.css": [
    "npm run lint:prettier:write",
    "npm run lint:stylelint:write"
  ],
  "*.(md|mdx)": [
    "npm run lint:prettier:write",
  ]
}

feat(blog): draw graphs
  content/posts/stats-2017.mdx
  content/posts/stats-2018.mdx
  content/posts/stats-2019.mdx
  src/templates/ArticleFullPage/ArticleFullPage.tsx
Due: none

New translations ru.po (English, United Kingdom)
  src/i18n/en-GB.po
Due: none

feat(blog): bubbles chart
  content/posts/stats-2017.mdx
  content/posts/stats-2018.mdx
  content/posts/stats-2019.mdx
  package.json
  src/templates/ArticleFullPage/ArticleFullPage.tsx
  src/templates/ArticleFullPage/components/charts/ArticleChartAdapter/ArticleChartAdapter.tsx
  src/templates/ArticleFullPage/components/charts/ArticleChartAdapter/index.ts
  src/templates/ArticleFullPage/components/charts/BubblesChartWrapper/BubblesChartWrapper.module.css
  src/templates/ArticleFullPage/components/charts/BubblesChartWrapper/BubblesChartWrapper.tsx
  src/templates/ArticleFullPage/components/charts/BubblesChartWrapper/BubblesD3Chart.tsx
  src/templates/ArticleFullPage/components/charts/BubblesChartWrapper/index.ts
Due: npm run lint:prettier:write, npm run lint:stylelint:write

feat(blog): hotfix findDOMNode
  src/templates/ArticleFullPage/components/charts/BubblesChartWrapper/BubblesD3Chart.tsx
Due: none

feat(blog): cosmetics
  src/templates/ArticleFullPage/ArticleFullHead.module.css
  src/templates/ArticleFullPage/ArticleFullPage.module.css
  src/templates/ArticleFullPage/ArticleFullPage.tsx
  src/templates/ArticleFullPage/components/charts/BubblesChartWrapper/BubblesChartWrapper.module.css
  src/templates/ArticleFullPage/components/charts/BubblesChartWrapper/BubblesChartWrapper.tsx
Due: npm run lint:prettier:write, npm run lint:stylelint:write

Update source file ru.po
  src/i18n/ru.po
Due: none

chore(ff): force enable analytics and langs
  src/hooks/useFeatureFlag/useFeatureFlag.ts
Due: none

test(use feature flag): fix the test after implementation was changed in a hurry
  src/hooks/useFeatureFlag/useFeatureFlag.spec.tsx
  src/hooks/useFeatureFlag/useFeatureFlag.ts
Due: none

feat(blog): fix share url
  src/page-templates/article-full.tsx
  src/templates/ArticleFullPage/ArticleFullHead.tsx
  src/templates/ArticleFullPage/ArticleFullPage.tsx
Due: none

chore(node): add .nvmrc
  .nvmrc
Due: none

chore(deps): commit package-lock
  package-lock.json
Due: npm run lint:prettier:write

chore(prettier): prettied
  content/posts/stats-2017.mdx
  content/posts/stats-2018.mdx
  content/posts/stats-2019.mdx
Due: none

docs(readme): remove non working badges
  README.md
Due: none

fix(i18n): strings were missing because of incorrect string interpolation
  src/i18n/en-GB.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/templates/ClauseMainPage/components/charts/ClauseMainPageFocusPunishmentsTreemap/ClauseMainPageFocusPunishmentsTreemap.tsx
  src/templates/ClauseMainPage/components/charts/ClauseMainPageFocusTerminatedTreemap/ClauseMainPageFocusTerminatedTreemap.tsx
  src/templates/IndexPage/IndexPageAnalytics.tsx
Due: none

chore(tsc): resolve typescript errors around project
  package-lock.json
  package.json
  src/page-templates/article-full.tsx
  src/templates/ArticleFullPage/ArticleFullHead.tsx
  src/templates/ArticleFullPage/ArticleFullPage.tsx
  src/templates/ArticleFullPage/components/charts/ArticleChartAdapter/ArticleChartAdapter.tsx
  src/templates/ArticleFullPage/components/charts/BubblesChartWrapper/BubblesChartWrapper.tsx
  src/templates/ArticleFullPage/components/charts/BubblesChartWrapper/BubblesD3Chart.tsx
  src/templates/ArticlesPage/ArticlesPageMore.tsx
  types/graphql-types.d.ts
Due: npm run lint:prettier:write

fix(analytics): embed icons sizes
  src/components/DownloadButton/DownloadButton.module.css
  src/components/DownloadButton/DownloadButton.tsx
  src/components/EmbedModal/EmbedModal.module.css
  src/components/EmbedModal/EmbedModal.tsx
Due: npm run lint:prettier:write, npm run lint:stylelint:write

fix(full dataset): if null is recieved show the "No data" message
  src/components/Table/Table.tsx
  src/components/Table/components/TableRow/TableRow.tsx
  src/components/ui-kit/Tooltip/Tooltip.module.css
  src/components/ui-kit/Tooltip/Tooltip.tsx
  src/i18n/en-GB.po
  src/i18n/ru.po
  src/i18n/template.pot
  src/templates/FullDatasetPage/FullDatasetPage.tsx
  types/graphql-types.d.ts
Due: npm run lint:prettier:write, npm run lint:stylelint:write
